target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/standard-project.tmproj
*.iml
.idea
.ensime
.ensime.msg.counter
.ensime_port
.settings
.release.sbt
.cache
.classpath
.project
.target
*.sublime-project
*.sublime-workspace
.*.swp
